.inscription{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.flex_center{
    border: solid grey 1.5px;
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 30%;
}

.logo{
    height: 114px;
    width: 168px;
}

.container_all{
    height: 100vh;
}

.header_index{
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header_right a{
    border: rgb(170, 166, 166) solid 1px;
    margin-right: 25px;
    padding:5px;
    background-color: rgb(235, 235, 235);
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    border-radius: 5px;
}

.info_right{
    display: flex;
}

.two_div_in_screen{
    margin-top: 10px;
    box-sizing: border-box;
    width: 49%;
    margin-left: 0.5%;
    float: left;
    border: black 1px solid;
}

.title_table{
    border : solid black 1px;
    background-color: rgb(240, 240, 240);
    margin: 10px;
    padding: 5px;
    text-decoration: underline;
}

.body_table{
    border : solid black 1px;
    background-color: rgb(235, 235, 235);
    margin: 10px;
    padding: 5px;
}

table{
background-color: #CBCBCB;
text-align: center;
}
table td, table th {
border: 1px solid #000000;
}
table tbody td {
font-size: 13px;
}
table tr:nth-child(even) {
background: #CC3BFC;
}
table thead {
background: #878787;
}
table thead th {
font-weight: normal;
color: #FFFFFF;
text-align: center;
}